@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat+Alternates:wght@300&family=Satisfy&display=swap');

/* Informações gerais da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gruppo', sans-serif;
}

body {
    background-color: #E5DDE6;
}

/* Fim de informações gerais */

/* Dark Mode */
.dark-mode {
    background-color: rgb(26, 26, 26);
}

.dark-mode header {
    background-color: #2d363e;
}

.dark-mode .navbar a {
    color: white;
}

.dark-mode .navbar a:hover {
    color: #DFCAE1;
}

.dark-mode article h1 {
    background-color: #2d363e;
    color: white;
}

.dark-mode .more {
    background-color: #2d363e;
    color: white;
}

.dark-mode .more:hover {
    background-color: white;
    color: black;
}

.dark-mode .extra {
    color: white;
}

.btndark {
    padding: 10px;
    margin: 20px;
}

/* Fim do Dark Mode */

/* Header com nav */
.header {
    position: fixed;
    width: 100%;
    /* top, right, bottom, left */
    padding: 7px 30px 7px 30px;
    background-color: #DFCAE1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100px;
}

.navbar a {
    font-size: 20px;
    color: black;
    margin-left: 20px;
}

.navbar a:hover {
    color: white;
}

/* Fim da header com nav */

/* Banner */
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 200px 0px 250px;
}

.bannerimg {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    padding: 15px 20px;
    background-color: white;
    border-radius: 10px 20px 20px 10px;
    box-shadow: 5px 5px 5px black;
    font-size: 25px;
    color: black;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.btn:hover {
    background-color: #DFCAE1;
}

/* Final banner */


/* Section para conteúdo principal - main, aside */
.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    align-items: top;
    padding-bottom: 20px;
    width: 100%;
}

aside {
    background-color: white;
    border-radius: 10px;
    width: max-content;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.publi {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;

}

.publi iframe {
    border-radius: 10px;
}

.publi img {
    height: 100px;
    margin: 10px;
}

main {
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 78%;
}

.titleNoticias {
    text-align: center;
    margin: 20px;
    font-size: 70px;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.newshomeimg {
    height: 230px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.more {
    position: static;
    margin-left: 85%;
    padding: 10px 15px;
    background-color: #E5DDE6;
    border-radius: 10px 20px 20px 10px;
    box-shadow: 5px 5px 5px black;
    font-size: 15px;
    color: black;
    letter-spacing: 1.5px;
}

.more:hover {
    background-color: white;
}

article h1 {
    background-color: #E5DDE6;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
}

.topo {
    height: 30px;
    margin-left: 95%;
}


/* Footer */

footer {
    align-items: center;
}

.contentfooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.instagram,
.soulcodeweb,
.linkedin {
    height: 50px;
}

.extra {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}